.Form {
  width: 100%;
  
  &Input {
    margin-bottom: 4px;
  }

  &InputBox {
    margin-bottom: 27px;

    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #f51b1b;
  }

  &CNextBtn {
  }
}
