.Modal {
  background-color: rgba(69, 75, 87, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;

  &Active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Content {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background: #fff;
    min-height: 510px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
  }

  &ContentWrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &ContentTitle {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0d0c0c;
  }

  &ContentInput {
   
    margin-bottom: 48px;
  }

  &ContentNextBtn {
   
  }

  &ContentClose {
    position: absolute;
    top: 40px;
    right: 40px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &ContentFields {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}


.Tooltip {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 12px;
  padding: 8px 12px;
  margin-bottom: 24px;
  background: #fafafa;
  &Text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #0d0c0c;
  }
}

.ContentRegister {
  max-width: 710px;
}
