a {
  text-decoration: none;
  color: inherit;
}

/* button {
  background: transparent;
  border: none;
} */

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 60px;
}

img {
  // height: auto;
  object-fit: cover;
}

.swiper {
  height: 100%; 
  max-height: 100vw;
  min-height: 0;
  min-width: 0;
  max-width: 100vw; 
  width: 100%;
  overflow: hidden;
}
 
.swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.swiper-slide img {
  user-select: none;
}

.swiper-wrapper{
  max-height: 100%;
  height: 100%;
  display: flex;
}

.mySlide {
  width: auto !important;
}

.swiper .swiper-pagination-bullet {
  border-radius: 4px;
  width: 32px;
  height: 4px;
  background: #efefef;
  
}

.swiper .swiper-pagination-bullet-active {
  background: #f51b1b;
}
