.app {
  padding: 30px 0 60px;
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__header-right {
    display: flex;
    align-items: center;
    gap: 134px;
  }

  &__header-block {
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__header-avatar {
    position: relative;

    &:hover {
      .app__header-avatar-btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__header-avatar-btn {
    position: absolute;
    bottom: -30px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    background-color: #0d0c0c;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}

.button {
  padding: 18px 30px;
  font-size: 18px;
  background: #0d0c0c;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgba(69, 75, 87, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
