.Modal {
  background-color: rgba(69, 75, 87, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;

  &Active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Content {
    position: relative;
    max-width: 1076px;
    width: 100%;
    padding: 40px;
    background: #fff;
    min-height: 510px;
    border-radius: 64px;
    display: flex;
  }

  &ContentWrapper {
    flex: 1 1 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }

  &ContentTitle {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0d0c0c;
  }

  &ContentInput {
    border: 1px solid #0d0c0c;
    border-radius: 12px;
    padding: 10px 16px 9px 16px;
    width: 346px;
    height: 60px;
  }

  &ContentNextBtn {
  }

  &ContentClose {
    position: absolute;
    top: 40px;
    right: 40px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}


.ContentWrapper {
  display: flex;
  gap: 22px;

  &Left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 580px;
    width: 100%;
  }

  &Right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 346px;
  }
}


.Choose {
  border: 1px dashed #b3b3bc;
  border-radius: 12px;
  width: 580px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;

  &Select {
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #b3b3bc;
  }

  &Images {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
  }

  &Image {
    position: relative;
  }

  &Remove {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}